# Reown wallet config key
NEXT_PUBLIC_PROJECT_ID = 

# Backend base url
NEXT_PUBLIC_BACKEND_API_URL=

# Native token percentage
NEXT_PUBLIC_NATIVE_TOKEN_PERCENTAGE = 

# Notify variable
NEXT_PUBLIC_DEFAULT_TOAST_POSITION=
NEXT_PUBLIC_DAPP_ADDRESS_NOTIFI=
NEXT_PUBLIC_CARD_ID_NOTIFI=
NEXT_PUBLIC_NOTIFI_ENV=