@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #edeff3 !important;
  @apply font-plex-grotesk;
}

@layer base {
  body {
    @apply dark:bg-[#0a0a0a] bg-[#edf6f9];
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes bounceLeftOpen {
  0% {
    transform: scale(0.9);
    opacity: 1;
    transform-origin: left top;
  }
  60% {
    transform: scale(1.02);
    opacity: 1;
    transform-origin: left top;
  }
  100% {
    transform: scale(1);
    transform-origin: left top;
  }
}
@keyframes bounceLeftClose {
  0% {
    transform: scaleX(1);
    opacity: 1;
    transform-origin: left;
  }
  60% {
    transform: scaleX(0.9);
    opacity: 1;
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.animatingLeftOpen {
  animation: bounceLeftOpen 1s;
}
.animatingLeftClose {
  animation: bounceLeftClose 1s;
}

@keyframes bounceRightOpen {
  0% {
    transform: scale(0.9);
    opacity: 1;
    transform-origin: right top;
  }
  60% {
    transform: scale(1.02);
    opacity: 1;
    transform-origin: left top;
  }
  100% {
    transform: scale(1);
    transform-origin: right top;
  }
}

@keyframes bounceRightClose {
  0% {
    transform: scaleX(1);
    opacity: 1;
    transform-origin: right;
  }
  60% {
    transform: scale(0.9);
    opacity: 1;
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}

.animatingRightClose {
  animation: bounceRightClose 1s;
}

.animatingRightOpen {
  animation: bounceRightOpen 1s;
}

@keyframes bounceButtonOpen {
  0% {
    transform: scaleY(0.9);
    opacity: 1;
    transform-origin: bottom;
  }
  60% {
    transform: scaleY(1.02);
    opacity: 1;
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

@keyframes bounceButtonClose {
  0% {
    transform: scaleY(1);
    opacity: 1;
    transform-origin: bottom;
  }
  60% {
    transform: scaleY(0.97);
    opacity: 1;
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}
@keyframes bounceTopClose {
  0% {
    transform: scaleY(1);
    opacity: 1;
    transform-origin: top;
  }
  60% {
    transform: scaleY(0.97);
    opacity: 1;
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}

.animatingButtomClose {
  animation: bounceButtonClose 1s;
}
.animatingTopClose {
  animation: bounceTopClose 1s;
}

.animatingButtonOpen {
  animation: bounceButtonOpen 1s;
}

.priceCardBorderLeft::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 10px;
  height: 100%;
  margin-left: 10px;
  border-radius: 10px;

  z-index: 0;
}

.borderGreen::before {
  background: #05a552;
}
.borderYellow::before {
  background: #d6a100;
}
.borderRed::before {
  background: #b42e2e;
}

/* trading view styles */

.remove_border {
  border: transparent !important;
}

/* Hide arrows in Chrome, Safari, and newer Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.loader {
  border: 16px solid transparent;
  border-radius: 50%;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  width: 100%;
  height: 100%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 8s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0;
  box-shadow: none;
  border: none;
  background: none;
}

/* Optionally, you can target autofill for specific input types like text, email, etc. */
input[type="text"]:-webkit-autofill {
  -webkit-box-shadow: 0;
  box-shadow: none;
  border: none;
  background: none;
}
/* Optionally, you can target autofill for specific input types like text, email, etc. */
input[type="number"]:-webkit-autofill {
  -webkit-box-shadow: 0;
  box-shadow: none;
  border: none;
  background: none;
}

.home-banner-container {
  width: 100%;
  background-image: url("assets/home-banner.svg");
  background-size: cover;
  background-position-x: 0px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.home-banner-dark-container {
  width: 100%;
  background-image: url("assets/home-banner-dark.svg");
  background-size: cover;
  background-position-x: 0px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@keyframes spinRefresh {
  to {
    transform: rotate(-360deg);
  }
}
.animate-spin-Refresh {
  animation: spinRefresh 1s linear infinite;
}

.beta-confirmation .popup-close-icon {
  visibility: hidden;
}
.invite_code_popup_container .popup-close-icon {
  visibility: hidden;
}
.connect-wallet .popup-close-icon {
  visibility: hidden;
}

.badge {
  position: relative;
}

.pulsate::before {
  content: "";
  display: block;
  position: absolute;
  top: -15%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 130%;
  width: 100%;
  animation: pulse 1s ease infinite;
  border: 4px double #00e07c;
  border-radius: 9999px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* Glow Effect for Buttons */
.glow-button {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: visible;
  padding: 0.3rem 1.5rem;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: black !important;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: #abffdebf;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.glow-button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(8px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
}

.glow-button:hover::before {
  opacity: 1;
  filter: blur(10px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.glow-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

.glow-button:active {
  transform: translateY(1px);
}

.glow-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #abffdebf;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
